<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.cntMapper">

    <!--
    <insert id="set" parametertype="java.util.Map">
    INSERT INTO 테이블
    (컬럼1, 컬럼2, 컬럼3, 날짜)
    VALUES
    <foreach collection="list" item="item" separator=",">
        (#{item.컬럼1값}, #{item.컬럼2값}, #{item.컬럼3}, NOW())
    </foreach>
        ON DUPLICATE KEY UPDATE 컬럼3 = 컬럼3 + VALUES(컬럼3), 날짜 = NOW()
    </insert>
    출처: http://ukmo.tistory.com/entry/MybatisMySQL-한번에-여러-레코드-Insert-Update [Developer;]
    -->

    <!-- 굿 버튼 눌렀을 때 아이디가 있는지 없는지 확인 -->
    <insert id="goodCntInsert">
        INSERT INTO tbl_board_goodcnt
        VALUES (NULL, #{goodcntbno}, #{goodcntuid})
        ON DUPLICATE KEY UPDATE goodcntuid = 'delCnt';
    </insert>

    <!-- 굿 버튼 눌렀을 때 아이디가 있는지 없는지 확인 // 아이디 있으면 + 1, 없으면 -1 -->
    <update id="goodCntUpdate">
        UPDATE tbl_board, tbl_board_goodcnt
        SET goodcnt = IF(goodcntuid = #{goodcntuid} AND goodcntbno = #{goodcntbno}, goodcnt + 1, goodcnt - 1)
        WHERE bno = #{goodcntbno}
    </update>

    <!-- 굿 버튼 눌렀을 때 아이디가 있는지 없는지 확인 // 바로 Delete-->
    <delete id="goodCntDelete">
        DELETE FROM tbl_board_goodcnt WHERE goodcntuid = 'delCnt';
    </delete>



    <!--01031682355-->

</mapper>


