<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.PointMapper">

	<!--<update id="updatePoint">-->
		<!--update tbl_user set upoint = upoint + #{point} where uid = #{uid}-->
	<!--</update>-->

	<!-- 글 작성할 때 포인트 추가, 제거 -->
	<insert id="insertOperPoint">
		INSERT INTO tbl_point_insert(pinsid, pinsregdate, pinspoint, pinsdeldate, pinscontent)
		VALUES (#{pinsid}, NOW(), #{pinspoint}, #{pinsdeldate}, #{pinscontent})
	</insert>

	<insert id="updateOperPoint">
		INSERT INTO tbl_point_update(pupdid, pupddate, pupdpoint, pupdcontent)
		VALUES (#{pupdid}, NOW(), #{pupdpoint}, #{pupdcontent})
	</insert>

	<insert id="deleteOperPoint">
		INSERT INTO tbl_point_delete(pdelid, pdeldate, pdelpoint, pdelcontent)
		VALUES (#{pdelid}, NOW(), #{pdelpoint}, #{pdelcontent})
	</insert>

	<update id="balancePointUpdate">
		UPDATE tbl_user SET upoint = upoint + #{upoint} WHERE uid = #{uid}
	</update>
	<!-- 글 작성할 때 포인트 추가, 제거 -->

	<!-- 유저의 전체별 레벨 순번을 가져오기 위한 전체 리스트 -->
	<select id="userLevelPointGET" resultType="string">
		SELECT uid FROM tbl_user ORDER BY upoint DESC;
	</select>

	<!-- 유저의 칼라별 레벨 순번을 가져오기 위한 전체 리스트 -->
	<select id="userColorPointGET" resultType="string">
		SELECT uid FROM tbl_user WHERE Uday = #{uday} ORDER BY upoint DESC;
	</select>




</mapper>


