<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ReplyMapper">

    <select id="list" resultType="ReplyVO">
        SELECT
        *
        FROM
        tbl_reply
        WHERE bno = #{bno} AND replyvisible = 'Y'
        ORDER BY rno DESC
    </select>

    <select id="readByIDnBnonText" resultType="org.zerock.domain.ReplyVO">
        select
        *
        from
        tbl_reply
        where rid = #{rid} AND bno = #{bno} AND replytext = #{replytext}
    </select>

    <insert id="create">
      <![CDATA[ 
        insert into tbl_reply (rid, bno, replytext, replyer, bringreplycolor, replyvisible)
        VALUES (#{rid}, #{bno}, #{replytext}, #{replyer}, #{bringreplycolor}, 'Y')
        ]]>
    </insert>

    <update id="update">
        UPDATE tbl_reply SET replytext = #{replytext}, updatedate = now()
        WHERE rno = #{rno} AND replyvisible = 'Y'
    </update>

    <!-- DELETE FROM tbl_reply WHERE rno = #{rno} 딜리트에서 업데이트로 수정 -->
    <update id="delete">
        UPDATE tbl_reply SET replyvisible = 'N' WHERE rno = #{rno}
    </update>

    <select id="listPage" resultType="ReplyVO">
      SELECT
      *
      FROM
      tbl_reply
      WHERE
      bno = #{bno} AND replyvisible = 'Y'
      ORDER BY rno DESC
      limit #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <!-- readPage.jsp의 토탈카운트 $("#replycntSmall").html("[ " + data.pageMaker.totalCount + " ]"); -->
    <select id="count" resultType="int">
        SELECT COUNT(bno) FROM tbl_reply WHERE bno = #{bno} AND replyvisible = 'Y'
    </select>

    <select id="getBno" resultType="int">
        SELECT bno FROM tbl_reply WHERE rno = #{rno} AND replyvisible = 'Y'
    </select>

</mapper>


