<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
/**
* What : userMapper.xml
* Why : 로그인 할 때 사용자의 아이디와 패스워드를 이용해서 사용자의 정보를 조회하는 SQL문을 처리
* How : UserDAO 만들고 UserDAOImpl 만들기 전에 MyBatis 작성
*/
-->

<mapper namespace="org.zerock.mapper.UserMapper">

    <select id="login" resultType="UserVO">
        SELECT uid, upw, uname, nickname, uday FROM tbl_user WHERE uid = #{uid} and upw = #{upw} and delyn = 'N'
    </select>

    <update id="loginIpUpd">
        UPDATE tbl_user SET updip = #{updip} WHERE uid = #{uid} and delyn = 'N'
    </update>

    <update id="keepLogin">
        UPDATE tbl_user SET sessionKey = #{sessionId}, sessionLimit = #{next} WHERE uid = #{uid} and delyn = 'N'
    </update>

    <select id="checkUserWithSessionKey" resultType="UserVO">
        SELECT * FROM tbl_user WHERE sessionKey = #{value} AND sessionlimit > now() and delyn = 'N'
    </select>

    <insert id="create">
        INSERT INTO tbl_user(uid, upw, upwconfirm, uname, email, nickname, uday, uyear, delyn, ugender, regip)
        VALUES (#{uid}, #{upw}, #{upwconfirm}, #{uname}, #{email}, #{nickname}, #{uday}, #{uyear}, 'N', #{ugender}, #{regip})
    </insert>

    <!--<select id="selectEmail" resultType="UserVO">-->
        <!--select * from tbl_user where email = #{email}-->
    <!--</select>-->

    <select id="registUsersNumGET" resultType="int">
        SELECT count(*) FROM tbl_user WHERE delyn = 'N'
    </select>

    <!-- 글 작성시 접속한 유저의 아이디 통해서 총 게시글 등록수 구함 -->
    <update id="totalUserPostNumUPD">
        update tbl_user set tpost = #{tpost} where uid = #{uid} AND delyn = 'N'
    </update>

    <update id="totalUserReplyNumUPD">
        UPDATE tbl_user SET treply = #{treply} WHERE uid = #{uid} AND delyn = 'N'
    </update>


</mapper>
