<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.userInfoMapper">

    <!--<select id="userInfoList" resultType="BoardVO">-->
        <!--SELECT * FROM tbl_board WHERE id = #{loginid} ORDER BY-->
        <!--<![CDATA[-->
              <!--bno desc-->
              <!--limit #{pageStart}, #{perPageNum}-->
        <!--]]>-->
    <!--</select>-->

    <select id="userInfoList" resultType="BoardVO">
      SELECT *, (SELECT fullName FROM tbl_attach WHERE bno = tbl_board.bno LIMIT 1) fullname
      FROM tbl_board WHERE id = #{loginid} ORDER BY
        <![CDATA[
              bno desc
              limit #{pageStart}, #{perPageNum}
        ]]>
    </select>

    <select id="userInfoListCount" resultType="int">
        SELECT count(*) FROM tbl_board WHERE id = #{loginid} ORDER BY regdate desc
    </select>

    <!-- 회원정보 수정 페이지에서 회원정보 수정할 때 비밀번호 맞는지 확인하기 위한 GET -->
    <select id="userPassConfirmGET" resultType="string">
        -- userPassConfirmGET
        SELECT upw FROM tbl_user WHERE uid = #{uid} AND upw = #{upw}
    </select>

    <sql id="search">
        <if test="searchType != null">
            <if test="searchType == 't'.toString()">
                and title like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'c'.toString()">
                and content like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'w'.toString()">
                and writer like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'tc'.toString()">
                and ( title like CONCAT('%', #{keyword}, '%') OR content like
                CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="searchType == 'cw'.toString()">
                and ( content like CONCAT('%', #{keyword}, '%') OR writer like
                CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="searchType == 'tcw'.toString()">
                and ( title like CONCAT('%', #{keyword}, '%')
                OR
                content like CONCAT('%', #{keyword}, '%')
                OR
                writer like CONCAT('%', #{keyword}, '%'))
            </if>
        </if>
    </sql>

    <sql id="cntSort">
        <if test="cntSortType != null">
            <if test="cntSortType == 'gc'.toString()">
                goodcnt DESC,
            </if>
            <if test="cntSortType == 'gbc'.toString()">
                gbcnt DESC,
            </if>
            <if test="cntSortType == 'vc'.toString()">
                viewcnt DESC,
            </if>
            <if test="cntSortType == 'bc'.toString()">
                badcnt DESC,
            </if>
            <if test="cntSortType == 'sc'.toString()">
                spamcnt DESC,
            </if>
        </if>
    </sql>




</mapper>


