<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.UserMapper">

    <select id="login" resultType="UserVO">
        SELECT uid, upw, uname FROM tbl_user WHERE uid = #{uid} and upw = #{upw}
    </select>

    <update id="keepLogin">
        UPDATE tbl_user SET sessionKey = #{sessionId}, sessionLimit = #{next} WHERE uid = #{uid}
    </update>

    <select id="checkUserWithSessionKey" resultType="UserVO">
        SELECT * FROM tbl_user WHERE sessionKey = #{value} AND sessionlimit > now()
    </select>

    <insert id="create">
        INSERT INTO tbl_user(uid, upw, upwconfirm, uname, email, nickname, uday, uyear, umonth)
        VALUES (#{uid}, #{upw}, #{upwconfirm}, #{uname}, #{email}, #{nickname}, #{uday}, #{uyear}, #{umonth})
    </insert>


</mapper>
